@model VoiceModel.Component
           
@{
    Layout = "~/tmp/Views/_Layout.cshtml";
}
<var name="vm_result" expr="'@Model.jsonInput'" />

<form id="@Model.id">
  <block>
    <submit next="@Model.controllerName" namelist="vm_result" />
  </block>
</form>
