@model VoiceModel.Input
           
@{
    Layout = "~/tmp/Views/_Layout.cshtml";
}
<var name="vm_id" expr="@Model.id" />
<var name="vm_event" expr="continue" />
<var name="vm_result" expr="" />

<form id="@Model.id">
  <field name="F_1">
    @{Html.RenderPartial("Prompt", Model.initialPrompt);}
  
    <grammar src="@Model.grammar.source" type="@Model.grammar.type" />
  </field>
  <filled>
    <assign name="vm_result" expr="F_1" />
    <submit next="Index" namelist="vm_id vm_event vm_result" />
  </filled>
</form>
