@model VoiceModel.Output
           
@{
    Layout = "~/tmp/Views/_Layout.cshtml";
}

<var name="vm_id" expr="@Model.id" />
<var name="vm_event" expr="continue" />

<form id="@Model.id">
  <block>
    @{Html.RenderPartial("Prompt", Model.prompts);}
    <submit next="Index" namelist="vm_id vm_event" />
  </block>
</form>
