@model VoiceModel.Record
           
@{
    Layout = "~/tmp/Views/_Layout.cshtml";
}

<var name="vm_id" expr="'@Model.id'" />
<var name="vm_event" expr="'continue'" />

<form id="@Model.id">
    <record name="CallersMessage" beep="true" maxtime="60s" finalsilence="2500ms" type="audio/wav">
        @{Html.RenderPartial("Prompt", Model.prompts);}
    </record>
    <field name="confirmMessage" type="boolean">
      <prompt>
        I heard you say <value expr="CallersMessage"/>. To save this message say yes. To discard it say no.
      </prompt>

      <filled>
        <if cond="confirmMessage">
          <submit expr="'@Model.recordingUrl?vm_id=' + vm_id + '&amp;vm_event=' + vm_event"  method="post" namelist="CallersMessage" enctype="multipart/form-data"/>
        <else/>
          <goto next="#@Model.id"/>
        </if>
      </filled>

    </field>

    
</form>
