@model VoiceModel.Record
           
@{
    Layout = "~/tmp/Views/_Layout.cshtml";
}

<var name="vm_id" expr="'@Model.id'" />
<var name="vm_event" expr="'continue'" />
<var name="vm_sessionid" expr="session.id" />

<form id="@Model.id">
    <record name="CallersMessage" beep="true" maxtime="@Model.maxtimeStr" finalsilence="2500ms" type="audio/wav">
        @{Html.RenderPartial("Prompt", Model.prompts);}
    </record>
     <filled>
        <submit expr="'@Model.recordingUrl?vm_id=' + vm_id + '&amp;vm_event=' + vm_event + '&amp;vm_sessionid=' + vm_sessionid"  method="post" namelist="CallersMessage" enctype="multipart/form-data"/>
      </filled>
        
</form>
